.project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  padding: 1rem;
  width: 100vw;
  max-width: 2000px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-family: var(--font-base);
  font-size: 1.1rem;
  color: var(--black-color);
  background-color: var(--primary-color);
  overflow-x: hidden;

  @media screen and (min-width: 1921px) {
    gap: 2rem;
  }
}

.project__close {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  z-index: 3;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    color: var(--secondary-color);
  }
}

.project__title {
  width: 75vw;
  font-size: 2rem;
  font-weight: bold;

  color: var(--secondary-color);

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 1025px) {
    font-size: 3rem;
  }

  @media screen and (min-width: 1201px) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: 1921px) {
    font-size: 4rem;
  }
}

.project__undertitle {
  font-size: 1.2rem;
  font-weight: bolder;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.project__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  list-style: none;

  li {
    color: var(--accent-color);
  }
}

.project__box {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  @media screen and (min-width: 1201px) {
    flex-direction: row;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1921px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.project__images {
  width: fit-content;
  display: flex;
  flex-direction: column;

  list-style: none;

  @media screen and (min-width: 601px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1201px) {
    flex: 2;
  }

  li {
    position: relative;
    color: var(--lightGray-color);
    border: 1px solid var(--white-color);
    border-radius: 1rem;
    overflow: hidden;

    @media screen and (min-width: 601px) {
      flex-basis: calc(100% / 2);
    }

    @media screen and (min-width: 1921px) {
      flex-basis: calc(100% / 4);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--black-color);
      opacity: 0.2;
      transition: opacity 500ms ease-in-out;
    }

    @media screen and (min-width: 1025px) {
      &:hover img,
      &:focus img {
        transform: scale(1.05) translate(2%, 2%);
      }

      &:hover::after,
      &:focus::after {
        opacity: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left top;

      transition: transform 500ms ease-in-out;
    }
  }
}

.project__data {
  padding: 1rem;

  background-color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 1rem;

  @media screen and (min-width: 1201px) {
    flex: 1;
  }
}

.project__description {
  span {
    font-weight: bolder;
    color: var(--secondary-color);
  }

  @media screen and (min-width: 769px) {
    font-size: 1.2rem;
  }

  @media screen and (min-width: 1921px) {
    font-size: 1.3rem;
  }
}

.project__techs {
  margin-top: 1rem;
  font-weight: bolder;
  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 769px) {
    font-size: 1.2rem;
  }

  @media screen and (min-width: 1921px) {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
}

.project__btn-set {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    padding: 1rem 2rem;
    gap: 0.5rem;

    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);

    background-color: var(--secondary-color);
    border: none;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;

    &:last-child {
      background-color: var(--black-color);
    }

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }

    &:disabled {
      background-color: var(--gray-color);
    }
  }

  @media screen and (min-width: 601px) {
    flex-direction: row;
    align-items: center;
  }

  @media screen and (min-width: 769px) {
    font-size: 1.2rem;
  }

  @media screen and (min-width: 1921px) {
    justify-content: center;
    gap: 2rem;
  }
}
