.app__skills-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1170px) {
    flex-direction: column-reverse;
  }
}

.app__skills-list {
  flex-basis: calc(100% / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app__skills-item {
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;

  div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--white-color);

    img {
      width: 50%;
      height: 50%;
    }

    transition: box-shadow 0.5s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 461px) {
      width: 90px;
      height: 90px;
    }

    @media screen and (min-width: 2000px) {
      width: 120px;
      height: 120px;
    }
  }

  p {
    font-size: 0.7rem;
    font-weight: 500;

    @media screen and (min-width: 480px) {
      font-size: 1rem;
    }
  }
}

.app__skills-exp-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  list-style: none;

  .app__skills-exp-work {
    h3 {
      font-size: 0.7rem;
      color: var(--accent-color);
    }

    p {
      margin-top: 5px;
      font-size: 0.7rem;
      font-weight: 400;
      color: var(--gray-color);
    }

    @media screen and (min-width: 461px) {
      h3 {
        font-size: 0.8rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    @media screen and (min-width: 461px) {
      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

.app__skills-exp-year {
  p {
    font-weight: 800;
    color: var(--secondary-color);
  }

  @media screen and (max-width: 450px) {
    margin-right: 1rem;
  }
}
