.app__profile-item {
  padding: 1rem;

  flex-basis: calc(100%);

  color: var(--black-color);

  background-color: var(--white-color);
  border-radius: 15px;

  transition: box-shadow 0.5s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }

  &:hover .app__profile-img::after,
  &:focus .app__profile-img::after {
    opacity: 0;
  }

  @media screen and (min-width: 481px) {
    flex-basis: calc((100% - 1rem) / 2);
  }

  @media screen and (min-width: 901px) {
    flex-basis: calc((100% - 2rem) / 3);
  }

  @media screen and (min-width: 1441px) {
    flex-basis: calc((100% - 3rem) / 4);
  }

  .app__profile-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--black-color);
      opacity: 0.1;
      transition: opacity 500ms ease-in-out;
    }

    @media screen and (min-width: 768px) {
      height: 300px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .app__profile-title {
    margin-top: 1rem;

    font-size: 1.2rem;
    color: var(--accent-color);

    @media screen and (min-width: 768px) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 1440px) {
      font-size: 1.6rem;
    }
  }

  .app__profile-info {
    margin-top: 1rem;
    font-size: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 1440px) {
      font-size: 1.4rem;
    }
  }
}
