.app__certificate-item {
  position: relative;

  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  max-width: 768px;
  height: 48vw;
  max-height: 540px;

  background-color: var(--white-color);
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  @media screen and (min-width: 460px) {
    height: 56vw;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    background-color: var(--black-color);
    opacity: 0.2;

    transition: opacity 500ms ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 500ms ease-in-out;
  }

  &:hover img,
  &:focus img {
    transform: scale(1.02);
  }

  .app__certificate-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    padding: 0.5rem;
    min-width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--white-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 601px) {
      padding: 1rem;
      min-width: 70%;
    }

    h3 {
      font-weight: 600;
      color: var(--accent-color);

      @media screen and (max-width: 600px) {
        // Visually-Hidden

        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    }

    a {
      font-weight: 400;
      color: var(--gray-color);
    }
  }

  .app__certificate-btns {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    padding-bottom: 0.5rem;
    gap: 1rem;

    transform: translateX(-50%);

    div {
      width: 30px;
      height: 30px;

      background-color: var(--white-color);
      border-radius: 50%;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      transition: all 0.3s ease-in-out;

      svg {
        width: 20px;
        height: 20px;
        color: var(--secondary-color);
      }

      @media screen and (min-width: 601px) {
        width: 45px;
        height: 45px;

        svg {
          width: 30px;
          height: 30px;
        }
      }

      &:hover {
        background-color: var(--secondary-color);

        svg {
          color: var(--white-color);
        }
      }
    }

    @media screen and (min-width: 601px) {
      padding-bottom: 1rem;
      gap: 2rem;
    }
  }
}
