@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #fff4ee;
  --secondary-color: #325082;
  --black-color: #281713;
  --lightGray-color: #fff4ee;
  --gray-color: #487e91;
  --brown-color: #4a271e;
  --white-color: #ffffff;
  --accent-color: #e52020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
