.app__work-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;

  margin: 2rem auto;

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    margin: 0.5rem;

    font-size: 0.7rem;
    font-weight: 800;
    color: #000;

    @media screen and (min-width: 601px) {
      font-size: 1rem;
    }

    background-color: var(--white-color);
    border-radius: 0.5rem;
    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.app__work-portfolio {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;

  list-style: none;

  .app__work-item {
    flex-basis: calc(100%);

    padding: 1rem;
    color: var(--black-color);

    background-color: var(--primary-color);
    border-radius: 15px;
    cursor: pointer;

    transition: all 0.5s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      background-color: var(--white-color);
    }

    @media screen and (min-width: 481px) {
      flex-basis: calc((100% - 1rem) / 2);
    }

    @media screen and (min-width: 901px) {
      flex-basis: calc((100% - 2rem) / 3);
    }

    @media screen and (min-width: 1441px) {
      flex-basis: calc((100% - 3rem) / 4);
    }
  }
}

.app__work-img {
  width: 100%;
  height: 230px;

  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @media screen and (min-width: 768px) {
    height: 300px;
  }
}

.app__work-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--white-color);
    }
  }
}

.app__work-content {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;

  h3 {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-shadow: 1px 1px 12px var(--white-color);
    color: var(--accent-color);

    @media screen and (min-width: 768px) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 1440px) {
      font-size: 1.6rem;
    }
  }

  .app__work-info {
    margin-top: 1rem;
    font-size: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 1440px) {
      font-size: 1.4rem;
    }
  }

  .app__work-tag {
    position: absolute;
    top: -25px;

    padding: 0.5rem 1rem;

    color: var(--gray-color);
    background-color: var(--primary-color);
    border-radius: 10px;
  }
}
